@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.appContainer {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1.5rem;

  @include desktop {
    grid-template-columns: 3fr 4.2fr;
    padding: 0 2.5rem;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
      top: 0;
      height: 100vh;
      position: sticky;
      padding-top: 3rem;
    }
  }
}
